header{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: end;
    position: sticky;
    top: 0;
    background-image: url(https://images.unsplash.com/photo-1610337673044-720471f83677?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1072&q=80);
    background-size: 100%;
    .logo{
        padding: 0;
        margin: 0;
        img{
            width: 14.375rem;
            height: auto;
        }
    }
    nav{
        .navbarlista{
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
        .home{
            background-color: red;
        }
        .music{
            background-color: orange;
        }
        .tv-films{
            background-color: yellow;
        }
        .drag{
            background-color: greenyellow;
        }
        .about{
            background-color: #00A3FF;
        }
        .contact{
            background-color: blueviolet;
        }
        li{
            a{
                text-decoration: none;
                color: black;
                display: flex;
                padding: .625rem 1.25rem .625rem 1.25rem;
                border-width: 5px;
                border-color: $color-sitio;
                border-bottom-style: solid;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                letter-spacing: 1px;
                &:hover{
                    background-color: white;
                }
            }
        }
        }
    }
}