.grid-film{
    @include grid (repeat(2,auto), repeat(2,auto), none, none, "f1 f2" "f3 f4");
    margin: 80px 0 15px 0;
    .article-films1{
        grid-area: f1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .article-films2 {
        grid-area: f2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .article-films3 {
        grid-area: f3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .article-films4 {
        grid-area: f4;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.text-content-films {
    color: white;
    font-size: 16px;
    text-align: justify;
    margin: 25px 15% 100px 15%;
}